{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Contact Us</h1>
    <p>If you have any questions, feedback, or need assistance, please reach out to us at <a href="mailto:support@example.com">support@example.com</a>.</p>
    <p>We look forward to hearing from you!</p>
    <nav id="socials">
        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </nav>
</div>
{% endblock %}