{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h1><i class="fa-solid fa-seedling" id="seedling"></i> Welcome to the Overtime Watcher</h1>
  <p>Overtime-Watcher is both a web application and a PyQt5 desktop application designed to help teams manage evening work. 
    <strong>The core idea is simple:</strong> the last person to clock off takes responsibility for ensuring teammates do not exceed overtime limits 
    and get adequate rest. The project is centered on improving code quality and, more importantly, the health and quality of life 
    for developers.</p>
  <br>
  <p>When I was young, I used to read stories about binge gamers, who, because they liked it and because it was their own innocent thing - would stay up all night playing video games.
    Also, those who needed that extra kick to play or finish a project, and they would turn to a can of monster or red bull to keep them going.
    Sometimes, you would hear of such people, dying of a heart attack or stroke, brought on by excessive consumption of energy drinks and lack of sleep.
    As a responsible person, I can not condone such behavior amidst my own team of developers I may be working with. Or even, the gamers I may wish to play games with.
    Thus, I created Overtime Watcher, to help monitor and limit such behavior, and hopefully encourage healthier habits among my peers.
  </p>
  <br>
  <p>Overtime Watcher is Great for different time zones where programmers may be collaborating on a solution online. 
    But also, it's for everyone too. Gamers, dreamers, wakeful eyes and weary souls.</p>
  <br>
  <p>You'll be pleased to know that Overtime Watcher is open source! to contribute, or suggest improvements on overtime-watcher, please get in touch.</p>
  <a href="{% url 'contact' %}" class="btn" style="text-decoration: none;">Contact</a>
</div>
{% endblock %}