{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h1><i class="fa-solid fa-seedling" id="seedling"></i> Welcome to the Overtime Watcher</h1>
  <p>Overtime-Watcher is both a web application and a PyQt5 desktop application designed to help teams manage evening work. 
    <strong>The core idea is simple:</strong> the last person to clock off takes responsibility for ensuring teammates do not exceed overtime limits 
    and get adequate rest. The project is centered on improving code quality and, more importantly, the health and quality of life 
    for developers.</p>
  <br>
  <p>Overtime Watcher is Great for different time zones where programmers may be collaborating on a solution online. 
    But also, it's for everyone too. Gamers, dreamers, wakeful eyes and weary souls.</p>
  <br>
  <a href="{% url 'contact' %}" class="btn" style="text-decoration: none;">Contact</a>
</div>
{% endblock %}